[submodule "submodules/clers"]
	path = submodules/clers
	url = git@github.com:peterdoyle1717/clers.git
[submodule "submodules/primegen"]
	path = submodules/primegen
	url = https://github.com/peterdoyle1717/primegen.git
